@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Raleway:wght@200&display=swap');
.home-title {
    font-family: 'Kalam', 'Rock Salt', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#content {
    max-width: 1600px;
    margin: 0 auto
}

a {
    text-align: center;
}
.home-title {
    color: #023047
}
h1 {
    text-align: center;
    font-family: 'Kalam', 'Rock Salt', sans-serif;
}

h4 {
    text-align: center;
    color: #023047
}

.button-box {
    text-align: center;
}

main {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color:  #023047;
}

nav a {
    background-color: #023047;
    color: #74D0E7;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: whitesmoke;
    color:#023047;
}
.book, .join {
    background-color: whitesmoke;
    color: #023047;
    text-decoration: none;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #74D0E7;
}
.book:hover, .join:hover {
    background-color:#FFD15C;
    color:#023047;
} 
.rivers-card, .camping-card, .rapids-card {
      margin: 200px 0;
}
.card-img {
    border: 10px solid #023047;
}
#background {
    background-color: #023047 ;
}

.msg {
    background-color: #74D0E7;
    line-height: 1.5em;
    padding: 35px;
}

h2 {
    margin: 0;
    color: #023047;
    font-family: 'Kalam', 'Rock Salt', sans-serif;
}

.msg p {
    color: #023047;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #FFD15C;
    color: #023047;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: .5em;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color:#023047;
    text-decoration: none;
}

footer a:hover {
    color:whitesmoke;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
      padding-top: 15px;
}
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}